[submodule "dependencies/portaudio"]
	path = dependencies/portaudio
	url = https://github.com/PortAudio/portaudio.git
[submodule "dependencies/libsndfile"]
	path = dependencies/libsndfile
	url = https://github.com/libsndfile/libsndfile.git
